<html>
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Hey gang, in this node.js tutorial we'll look at view engines. View engines</p>
        <p>Hey gang, in this node.js tutorial we'll look at view engines. View engines</p>
        <p>Hey gang, in this node.js tutorial we'll look at view engines. View engines</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>